.button {
    border: none;
    text-transform: uppercase;
    padding: 25px 45px;
    @include bold;
    background-color: $primary;
    color: #fff;
    cursor: pointer;
    text-decoration: none;
    &_o {
        border: 2px solid $primary;
        color: $primary;
        background-color: #fff;
        padding: 17px 22px;
        font-size: 12px;
    }
    &_form {
        height: 80px;
        width: 100%;
    }
    &_fitting {
        border: none;
        padding: 6px 10px;
        font-size: 11px;
    }
    &_add {
        padding: 6px 10px;
        font-size: 11px;
        background-color: lighten($primary, 10%);
    }
    &_like {
        padding: 4px;
    }
}