.contacts {
    background-color: #f6f7f9;
    padding: 100px 0;
    &__wrapper {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        margin-top: 100px;
    }
    &__item {
        text-align: center;
        &-text {
            margin-top: 15px;
            font-size: 16px;
        }
        &-link {
            text-decoration: none;
            color: $text-color;
        }
    }
}