@media (max-width: 1199px) {
    .container {
        max-width: 960px;
    }
    .offer {
        &__block {
            background-position: center right -120px;
        }
    }
    .catalog {
        padding: 80px 0;
        &__wrapper {
            justify-content: center;
            margin-top: 80px;
        }
        &__card {
            max-width: 470px;
        }
    }
    .blog-list {
        padding: 80px 0;
        &__wrapper {
            justify-content: space-around;
            margin-top: 80px;
        }
        &__card {
            margin-right: 30px;
            margin-left: 30px;
        }
    }
    .price {
        padding-bottom: 80px;
        &__wrapper {
            margin-top: 80px;
        }
    }
    .step {
        padding: 80px 0;
        &__wrapper {
            margin-top: 80px;
        }
    }
    .reviews {
        &__wrapper {
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
        &__item {
            margin-bottom: 60px;
            &:last-child {
                margin-bottom: 0;
            }
        }
    }
    .factory {
        padding-bottom: 80px;
        &__wrapper {
            margin-top: 80px;
        }
    }
}

@media (max-width: 991px) {
    .container {
        max-width: 750px;
    }
    .header {
        &__mobile {
            display: none;
        }
        &-hero {
            background-size: 100%;
            background-position: top right;
        }
    }
    .offer {
        &__block {
            background: none;
            background-color: #fff;
            padding: 40px;
        }
    }
    .features {
        &__item {
            flex-basis: 50%;
        }
    }
    .catalog {
        padding: 70px 0;
        &__wrapper {
            justify-content: center;
            margin-top: 60px;
        }

        &__title {
            font-size: 28px;
        }
    }
    .blog-list {
        padding: 70px 0;
        &__wrapper {
            margin-top: 70px;
        }
    }
    .price {
        padding-bottom: 70px;
        &__title {
            font-size: 28px;
        }
        &__wrapper {
            justify-content: center;
            margin-top: 70px;
        }
        &__card {
            margin: 20px;
        }
    }
    .step {
        padding: 70px 0;
        &__wrapper {
            margin-top: 70px;
        }
        &__item {
            width: 33%;
            &::before {
                display: none;
            }
        }
        &__title {
            font-size: 28px;
        }
    }
    .before {
        padding: 70px 0;
        &__wrapper {
            margin-top: 70px;
        }
        &__title {
            font-size: 28px;
        }
    }
    .reviews {
        &__title {
            font-size: 28px;
        }
    }
    .factory {
        padding-bottom: 70px;
        &__wrapper {
            margin-top: 70px;
        }
    }
}

@media (max-width: 767px) {
    .container {
        max-width: 100%;
        padding: 0 20px;
    }
    .offer {
        &_price {
            margin-top: 105px;
            padding: 60px 0;
        }
        &__title {
            font-size: 13px;
        }
        &__subtitle {
            font-size: 16px;
        }
    }
    .form {
        &__row {
            flex-direction: column;
        }
        &__row-check {
            flex-direction: row;
        }
        &__group {
            flex-basis: 100%;
            width: 100%;
        }
        &__input {
            margin-bottom: 20px;
        }
        &__policy {
           margin-left: 0;
           margin-top: 30px; 
        }
    }
    .features {
        &__item {
            flex-basis: 100%;
            margin-bottom: 50px;
            &:nth-child(4) {
                margin-bottom: 50px;
            }
            &:nth-child(5) {
                margin-bottom: 50px;
            }
        }
    }
    .catalog {
        padding: 60px 0;
        &__wrapper {
            justify-content: center;
            margin-top: 60px;
        }
        &__title {
            font-size: 24px;
        }
        &__link {
            margin-top: 24px;
        }
        &__link-more {
            font-size: 12px;
        }
        &__link-descr {
            font-size: 12px;
        }
    }
    .blog-list {
        padding: 60px 0;
        &__wrapper {
            margin-top: 60px;
        }
        &__heading {
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
    }
    .price {
        padding-bottom: 60px;
        &__wrapper {
            margin-top: 60px;
        }
        &__title {
            font-size: 24px;
        }
    }
    .step {
        padding: 60px 0;
        &__wrapper {
            margin-top: 60px;
        }
        &__title {
            font-size: 24px;
        }
        &__item {
            width: 100%;
        }
    }
    .before {
        padding: 60px 0;
        &__wrapper {
            margin-top: 60px;
        }
        &__title {
            font-size: 24px;
        }
    }
    .reviews {
        padding: 60px 0;
        &__wrapper {
            margin-top: 60px;
        }
        &__title {
            font-size: 24px;
        }
    }
    .factory {
        padding-bottom: 60px;
        &__wrapper {
            margin-top: 60px;
            justify-content: center;
        }
        &__title {
            font-size: 24px;
        }
    }
    .contacts {
        padding: 60px 0;
        &__wrapper {
            margin-top: 60px;
        }
        &__item {
            width: 100%;
            margin-bottom: 30px;
        }
        &__title {
            font-size: 24px;
        }
    }
    .questions {
        padding: 60px 0;
        &__wrapper {
            margin-top: 60px;
        }
    }
    .footer {
        &__block {
            flex-direction: column;
            align-items: center;
            text-align: center;
        }
        &__pay-logo {
            margin: 5px;
        }
        &__contacts {
            margin-top: 30px;
            text-align: center;
        }
    }
}

@media (max-width: 575px) {
    .header {
        &__logo {
            display: none;
        }
        &__navigation-list {
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
        &__navigation-item {
            margin-bottom: 20px;
        }
    }
    .button_o {
        padding: 17px 5px;
    }
    .button_form {
        padding: 0;
        font-size: 12px;
    }
    .features {
        padding: 60px 0;
    }
    .title {
        font-size: 19px;
    }
    .form {
        &__row-check {
            flex-direction: column;
            align-items: start;
        }
        &__checkbox {
            margin-bottom: 20px;
        }
        &__policy {
            font-size: 14px;
        }
    }
    .price {
        &__card {
            margin: 10px;
        }
        &__card-button {
            padding: 10px;
        }
        &__title {
            font-size: 22px;
        }
    }
    .reviews {
        &__item-text {
            font-size: 12px;
        }
    }
    .factory {
        &__text {
            font-size: 16px;
        }
    }
    .questions {
        &__block {
            flex-direction: column;
        }
    }
}