.offer {
    padding: 129px 0;
    background-color: $bg-secondary;
    &_price {
        background-color: #fff;
    }
    &__block {
        box-shadow: 0 15px 25px rgba(0, 0, 0, 0.1);
        padding: 80px;
        margin-top: -330px;
        &_calc-bg {
            background: #fff url('../img/offer/form-bg-calc.png') center (right / contain) no-repeat;
        }
        &_price-bg {
            margin-top: -170px;
            background: #fff url('../img/offer/form-bg-price.png') center (right / contain) no-repeat;
        }
    }
    &__title {
        margin-bottom: 20px;
        font-size: 25px;
        text-transform: uppercase;
        @include bold;
    }
    &__subtitle {
        margin-bottom: 48px;
        font-size: 21px;
        max-width: 820px;
    }
}